streamlit
sentence-transformers
scikit-learn
numpy
pandas
pdfplumber
python-docx
rapidfuzz
faiss-cpu
plotly
python-multipart
python-dotenv
joblib
google-genai==0.16.0
requests
reportlab
kaleido
streamlit-lottie
